<!-- .app -->
<div class="app">
    <!-- .app-aside -->
    <app-elements-header></app-elements-header>
    <aside class="app-aside app-aside-expand-md app-aside-light">
        <app-elements-sidebar></app-elements-sidebar>
    </aside>
    <!-- .app-main -->
    <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->
            <div class="page">
                <!-- .page-inner -->
                <div class="page-inner">
                    <!-- .page-title-bar -->
                    <header class="page-title-bar">
                        <!-- page title stuff goes here -->
                        <h1 class="page-title"> Page title </h1>
                    </header><!-- /.page-title-bar -->
                    <!-- .page-section -->
                    <div class="page-section">
                        <!-- .section-block -->
                        <div class="section-block">
                            <!-- page content goes here -->
                            <p> Hello world! </p>
                            <tree-root [focused]="true" [nodes]="nodes"></tree-root>
                        </div><!-- /.section-block -->
                    </div><!-- /.page-section -->
                </div><!-- /.page-inner -->
            </div><!-- /.page -->
        </div><!-- /.wrapper -->
    </main><!-- /.app-main -->
</div><!-- /.app -->