<!-- .app -->
<div class="app">
    <!-- .app-aside -->
    <app-elements-header></app-elements-header>
    <aside class="app-aside app-aside-expand-md app-aside-light">
        <app-elements-sidebar></app-elements-sidebar>
    </aside>
    <!-- .app-main -->
    <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->
            <div class="page">
                <!-- .page-inner -->
                <div class="page-inner">
                    <header class="page-title-bar">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">
                                    <a href="user-profile.html"><i
                                            class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview</a>
                                </li>
                            </ol>
                        </nav>
                    </header>
                    <!-- .page-section -->
                    <div class="page-section">
                        <!-- .section-block -->
                        <div class="section-block">
                            <!-- page content goes here -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- .card -->
                                    <div class="card card-fluid">
                                        <h6 class="card-header"> Your Details </h6><!-- .nav -->
                                        <nav class="nav nav-tabs flex-column border-0">
                                            <a routerLink="/users/profile" class="nav-link" routerLinkActive="active">Profile</a>
                                            <a routerLink="/users/account" class="nav-link" routerLinkActive="active">Account</a>
                                            <a routerLink="/users/billing" class="nav-link" routerLinkActive="active">Billing</a>
                                            <a routerLink="/users/notification" class="nav-link" routerLinkActive="active">Notifications</a>
                                        </nav><!-- /.nav -->
                                    </div><!-- /.card -->
                                </div>
                                <div class="col-lg-8">
                                    <!-- .card -->
                                    <div class="card card-fluid">
                                        <h6 class="card-header"> Account </h6><!-- .card-body -->
                                        <div class="card-body">
                                            <!-- form -->
                                            <form method="post">
                                                <!-- form row -->
                                                <div class="form-row">
                                                    <!-- form column -->
                                                    <div class="col-md-6 mb-3">
                                                        <label for="input01">First Name</label> <input type="text"
                                                            class="form-control" id="input01" value="Beni" required="">
                                                    </div><!-- /form column -->
                                                    <!-- form column -->
                                                    <div class="col-md-6 mb-3">
                                                        <label for="input02">Last Name</label> <input type="text"
                                                            class="form-control" id="input02" value="Arisandi"
                                                            required="">
                                                    </div><!-- /form column -->
                                                </div><!-- /form row -->
                                                <!-- .form-group -->
                                                <div class="form-group">
                                                    <label for="input03">Email</label> <input type="email"
                                                        class="form-control" id="input03" value="bent10@looper.com"
                                                        required="">
                                                </div><!-- /.form-group -->
                                                <!-- .form-group -->
                                                <div class="form-group">
                                                    <label for="input04">New Password</label> <input type="password"
                                                        class="form-control" id="input04" value="secret" required="">
                                                </div><!-- /.form-group -->
                                                <!-- .form-group -->
                                                <div class="form-group">
                                                    <label for="input05">Username</label> <input type="text"
                                                        class="form-control" id="input05" value="bent10" required="">
                                                    <small class="text-muted">Dolores reiciendis, eos accusamus nobis at
                                                        omnis consequuntur culpa tempore saepe animi.</small>
                                                </div><!-- /.form-group -->
                                                <hr>
                                                <!-- .form-actions -->
                                                <div class="form-actions">
                                                    <!-- enable submit btn when user type their current password -->
                                                    <input type="password" class="form-control mr-3" id="input06"
                                                        placeholder="Enter Current Password" required=""> <button
                                                        type="submit" class="btn btn-primary text-nowrap ml-auto"
                                                        disabled="">Update Account</button>
                                                </div><!-- /.form-actions -->
                                            </form><!-- /form -->
                                        </div><!-- /.card-body -->
                                    </div><!-- /.card -->
                                </div>
                            </div>
                        </div><!-- /.section-block -->
                    </div><!-- /.page-section -->
                </div><!-- /.page-inner -->
            </div><!-- /.page -->
        </div><!-- /.wrapper -->
    </main><!-- /.app-main -->
</div><!-- /.app -->