 <!-- .aside-content -->
 <div class="aside-content">
    <!-- .aside-header -->
    <header class="aside-header d-block d-md-none">
        <!-- .btn-account -->
        <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside"><span
                class="user-avatar user-avatar-lg"><img src="assets/images/avatars/profile.jpg" alt=""></span>
            <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> <span
                class="account-summary"><span class="account-name">Beni Arisandi</span> <span
                    class="account-description">Marketing Manager</span></span></button> <!-- /.btn-account -->
        <!-- .dropdown-aside -->
        <div id="dropdown-aside" class="dropdown-aside collapse">
            <!-- dropdown-items -->
            <div class="pb-3">
                <a class="dropdown-item" href="user-profile.html"><span
                        class="dropdown-icon oi oi-person"></span> Profile</a> <a class="dropdown-item"
                    href="auth-signin-v1.html"><span class="dropdown-icon oi oi-account-logout"></span>
                    Logout</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Help Center</a> <a
                    class="dropdown-item" href="#">Ask Forum</a> <a class="dropdown-item" href="#">Keyboard
                    Shortcuts</a>
            </div><!-- /dropdown-items -->
        </div><!-- /.dropdown-aside -->
    </header><!-- /.aside-header -->
    <!-- .aside-menu -->
    <div class="aside-menu overflow-hidden">
        <!-- .stacked-menu -->
        <nav id="stacked-menu" class="stacked-menu">
            <!-- .menu -->
            <ul class="menu">
                
                
                <li class="menu-item">
                    <a routerLink="/files" class="menu-link"><span class="menu-icon fas fa-folder"></span> <span
                            class="menu-text">My Files</span></a>
                </li>

                <li class="menu-item">
                    <a routerLink="/files/trash" class="menu-link"><span class="menu-icon fas fa-trash"></span> <span
                            class="menu-text">Trash</span></a>
                </li>

                <li class="menu-item">
                    <a routerLink="/spaces/earn" class="menu-link"><span class="menu-icon fas fa-plus-square"></span> <span
                            class="menu-text">Earn Space</span></a>
                </li>
                
                <li class="menu-header">ACCOUNT</li>
                <!-- .menu-item -->
                <li class="menu-item has-child">
                    <a href="javascript:;" class="menu-link"><span class="menu-icon fas fa-user"></span> <span
                            class="menu-text">Account</span></a> <!-- child menu -->
                    <ul class="menu">
                        <li class="menu-item">
                            <a routerLink="/users" class="menu-link"> Overview </a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/users" class="menu-link"> Account and Billing </a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/users" class="menu-link"> Security and Privacy </a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/users" class="menu-link"> Customization </a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/users" class="menu-link"> Download Options </a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/users" class="menu-link"> Social Networks </a>
                        </li>
                        <li class="menu-item">
                            <a routerLink="/users" class="menu-link"> Business Class Features </a>
                        </li>
                    </ul><!-- /child menu -->
                </li><!-- /.menu-item -->

                <li class="menu-item">
                    <a routerLink="/users/logout" class="menu-link"><span class="menu-icon fas fa-sign-out-alt"></span> <span
                            class="menu-text">Logout</span></a>
                </li>
                
            </ul><!-- /.menu -->
        </nav><!-- /.stacked-menu -->
    </div><!-- /.aside-menu -->
    <!-- Skin changer -->
    <footer class="aside-footer border-top p-2">
        <div class="">
            <div class="progress progress-sm mb-1 mt-1">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        
            <p class="help-text d-compact-menu-none">
                <span class="float-left">0B / 100B</span>
                <span class="float-right"><a routerLink="/spaces/earn">UPGRADE</a></span>
            </p>
        </div>
        <div class="">
            <button class="btn btn-light btn-block text-primary " data-toggle="skin"><span
                class="d-compact-menu-none">Night mode</span> <i class="fas fa-moon ml-1"></i></button>
        </div>
        
        
    </footer><!-- /Skin changer -->
</div><!-- /.aside-content -->